@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body.navigate-loading main {
  opacity: 0.6;
}

.playing {
  border-radius: .3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

.playing-bar {
  display: inline-block;
  width: 25%;
  height: 100%;
  animation: up-and-down 1.3s ease infinite alternate;
}

.playing-bar1 {
  height: 60%;
}

.playing-bar2 {
  height: 30%;
  animation-delay: -2.2s;
}

.playing-bar3 {
  height: 75%;
  animation-delay: -3.7s;
}

@keyframes up-and-down {
  10% {
    height: 30%;
  }
  
  30% {
    height: 100%;
  }
  
  60% {
    height: 50%;
  }
  
  80% {
    height: 75%;
  }
  
  100% {
    height: 60%;
  }
}

.prose iframe {
  width: 100%;
}

.rti--container {
  border-color: hsl(var(--b2));
}